<header class="header">
    <div class="header__container container">
    <a class="logo" href="">
        <img class="logo__img" srcset="
        /src/images/header-hero/logo_40.png 40w,
        /src/images/header-hero/logo_48.png 48w,
        /src/images/header-hero/logo_60.png 60w,
        /src/images/header-hero/logo_80.png 80w,
        /src/images/header-hero/logo_96.png 96w,
        /src/images/header-hero/logo_120.png 120w" 
        sizes="(min-width: 1200px) 60px, (min-width: 768px) 48px, (min-width: 480px) 40px, 100vw" 
        src="/src/images/header-hero/logo_40.png" alt="logo" loading="lazy">
    </a>
    <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="menu-toggle_btn">
          <!-- <use href=""></use> -->
        </svg>
      </button>
    <ul class="nav-list">
        <li class="nav-list__item"><a class="nav-list__link" href="">Home</a></li>
        <li class="nav-list__item"><a class="nav-list__link" href="">How it’s made?</a></li>
        <li class="nav-list__item"><a class="nav-list__link" href="">Our products</a></li>
        <li class="nav-list__item"><a class="nav-list__link" href="">Contact</a></li>
    </ul>
    <button class="buy-now-button">
        Buy now
        <!-- <svg>
            <use href=""></use>
        </svg> -->
    </button>
    </div>
</header>

<!-- MOBILE MENU -->
<!-- <div class="mobile-menu">
    <button></button>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">How it’s made?</a></li>
        <li><a href="">Our products</a></li>
        <li><a href="">Contact</a></li>
    </ul>
    <button class="buy-now-button">
        Buy now
        <svg>
            <use href=""></use>
        </svg> -->
    <!-- </button>
</div> -->