<!-- MOBILE MENU -->
<div class="menu-container js-menu-container" id="mobile-menu">
    <div class="header__logo">
        <img  srcset="
            ./images/logo.png 65w,
            ./images/logo_tb.png 48w,
            ./images/logo_mb.png 40w" sizes="(min-width: 1200px) 65px, (min-width: 768px) 48px, (min-width: 320px) 40px,
100vw" src="./images/logo.png " alt="лого" 
loading="lazy" />
      </div>
      <button class="close-button--white menu-toggle js-close-menu" type="button">
         <svg class="close__icon--white">
            <use href="./images/icons.svg#close"></use>
        </svg>
        </button>
    <ul class="mobile-menu">
        <li class="mobile-menu__item"><a class="mobile-menu__link link" href="">Home</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link link" href="">How it’s made?</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link link" href="">Our products</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link link" href="">Contact</a></li>
    </ul>
    <button class="button buy-now-button">
        Buy now
        <svg class="buy-now-button__svg" width="12" height="20">
            <use href="./images/icons.svg#button-arrow-right"></use>
        </svg>
    </button>
</div> 

<!-- Скрипт для JS -->
<script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
      integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
      crossorigin="anonymous"
    ></script>
    <script defer src="js/mobile-menu.js"></script>